*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: Roboto, Helvetica, sans-serif;
}

form h5
{
    font-size: 14px;
    margin: 4px auto;
    text-transform: uppercase;
    background-color: teal;
    padding: 8px;
    color: white;
}

form input
{
    margin: 8px auto;
}